
    
    #firstpagepadding{
      padding-left: 100px;

    }
    .body{
        color: white;
        padding-left: 30px;
        padding-top: 70px;
        line-height: 100px;
    }
    #heading-fp{
        font-size: 50px;
        color: white;
    }
    #para-fp{
        font-size: 20px;
        color: white;
    }
    #line-break{
        line-height: 20px;
    }
  
  .body {
  background-image: url('	https://www.novactech.com/_next/image?url=%2Fimages%2Fbanner_first.png&w=1920&q=100');
  background-repeat: no-repeat;
   background-attachment: cover;  
   background-size: 100% 100%; 
}
li a {
  display: block;
  color: white;
  text-align: center;
  /* padding: 14px; */
  text-decoration: none;
}
#item{
    /* padding-left: 30px; */
    font-size: 20px;
}
#left{
    padding-left: 200px;
}
#button-nav{
    margin-top: 25px;
    margin-left: 20px;
    background-color: rgb(250, 139, 60);
    border-radius: none;
    border: 10px;
    margin-left: 40px;
    padding-top: 10px;
}
#bot-btn-fp{
    padding-top: 10%;
    width:15%;
    height: 20%;
    background-color:white;
    border-radius:#ffffff;
    color: rgb(22, 21, 21);
    
}

#fp-btn {
    cursor: pointer;
    border: 2px solid white;
    background-color:transparent;
    height: 50px;
    width: 300px;
    color: white;
    font-size: 1.5em;
    margin-top: 20%;
    margin-bottom: 10px;
            /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
        }
  /* #main {
    background-color: black;
  width: 1100px;
  height: 150px;
  border: 1px solid #f7f7f7; */

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

#box-padding{
  width: 100%;
  height: 25px;
  /* padding-left: 20px;  */
  position:inherit;
  text-align: center;
}    

/* section 2*/

.gaps2{
    padding-bottom: 20px;
    font-size: 15px;
    color: white;
}
#paras2{
    padding-bottom: 20px;
    color: white;
}

    .images2{
        padding: 10px;
        padding-top: 20px;
    }
    /* .align{
        padding: 40px;
    } */
    .p{
        color: aliceblue;
        line-height: 20px;
    }
    .hrs{
       
        padding-bottom: 10px;
        /* border:0px; */
        border-top: 1px solid rgb(128, 125, 125);
    
        
    }
    .paddings2{
        padding-left: 50px;
        padding-right: 100px;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        text-align: left;
        line-height: 25px;
    }
.bgcolors2{
    background-color: rgb(27, 20, 20);
    padding-bottom: 50px;

}
#heads2{
    color: white;
}
#headings2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    padding-left: 100px;
    padding-bottom: 20px;
    color: white;
    text-align: left;
   line-height: 30px;
    
}
#spans2{

    background: -webkit-linear-gradient(50deg,#faa357 20%,#fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(max-width:600px){
  .images2{
     position: left;
    height: 50%;
    width: 50%;
    inset: 0px;
    color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .novacs2 .heading h1 {
    font-size: 26px;
    line-height: 38px;
}
  .headings2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    padding-left: 12px;
    padding-bottom: 20px;
    color: white;
    text-align: left;
    line-height: 30px;
}
  }
  .paddings2{
    padding-left: 35px;
    padding-right: 15px;
  }

  /* section 3 */

  li::marker {
    color: rgb(224, 105, 8);
      }
      
      .h2, h2 {
      font-size: 32px;
      line-height: 60px;
      }
      .task{
        background-color: white;
      }
  
      .paddings3{
  
          padding-top: 100px;
          padding-bottom: 50px;
          padding-left: 80px;
          padding-right: 100px;
          background-color: white;
      }
      .paras3{
      padding: 0 0 25px 33px;
      margin-bottom: 25px;
      position: relative;
      border: none;
      border-bottom: 1px solid #fcf1ef;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.6666666667;
      }
      .hr{
          /* color: rgb(235, 95, 15); */
          border-top: 2px solid rgb(255, 136, 0);
      }
      #color{
          background-color: 2px solid rgb(197, 195, 195);
      }
      ul.squares3{
          list-style-type: square;
      }
      .left{
  
         text-align: left;
         padding-right: 150px;
         padding-left: 20px;
         font-size: 30px;
         line-height: 10px;
      }
      * {
      -webkit-box-sizing: border-box;
   
      }
      @media only screen and (max-width: 767px) {
          .paddings3 {
      padding-top: 3px;
      padding-bottom: 10px;
      padding-left: 2px;
      padding-right: 1px;
  }
  .lefts3{
      font-size: 26px;
      padding-right: 10px;
  } }

  /* section4 */

  @font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poiretone/v16/UqyVK80NJXN4zfRgbdfbo55cUg.ttf) format('truetype');
  }
  #bodys4 {
    width: 100%;
    height: 100%;
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(7, 7, 7, 0.8);
  }
  #wrapper {
    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 50px 0;
    transform: translate(-50%, 0);
    background-color:white;
    max-width: 1000px;
    padding: 30px;
  }
  @media (max-width: 767px) {
    #wrapper {
      box-sizing: border-box;
      transform: translate(0, 0);
      max-width: 100%;
      min-height: 100%;
      margin: 0;
      left: 0;
    }
    #h2s4 {
      font-size: 18px;
      line-height: 34px;
      font-weight: 500;
      letter-spacing: 1px;
      display: block;
      background-color: #fefffa;
      margin: 0;
      cursor: pointer;
  }
  }
  h1,
  h2 {
    color: #000;
  }
  #h1s4 {
    margin: 10% auto 0;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: center;
    display: table;
    padding: 10px 0;
    font-weight: bolder;
    /* border-bottom: 2px solid #000; */
  }
  h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    transition: all 500ms ease;
  }
  p,
  ul li i:before,
  ul li i:after {
    transition: all 0.25s ease-in-out;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
  }
  ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 9px;
    right: 0;
  }
  ul li i:before,
  ul li i:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 3px;
    height: 16px;
  }
  ul li i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  ul li input[type=checkbox]:checked ~ i:before {
    margin-top: 9px;
    height: 9px;
    transform: translate(2px, 0) rotate(45deg);
  }
  ul li input[type=checkbox]:checked ~ i:after {
    margin-top: 9px;
    height: 9px;
    transform: translate(-2px, 0) rotate(-45deg);
  }
  ul li:nth-of-type(1) {
    border-top: none;
    animation-delay: 0.5s;
  }
  ul li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  ul li:nth-of-type(3) {
    animation-delay: 1s;
  }
  ul li:last-of-type {
    padding-bottom: 0;
  }
  li {
    animation: bounceInUp 1s ease both;
  }
  
  